<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;


  }

  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem;
    font-size: 1rem;
  }

  .navbar2 {
    display: none;
  }

  @media only screen and (max-width: 993px) {
    .navbar2 {
      display: block;

    }

    .navbar1 {
      display: none;

    }
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light bg-body border-bottom sticky-top navbar1">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">WANDERLUST</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex needs-validation" role="search" action="/listings/search" method="get">
          <input class="form-control me-2 search-inp" type="search" name="location" placeholder="Search Destinations"
            required>
          <button class="btn  search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add PG/Room</a>
        <% if(!currUser) { %>
          <a class="nav-link" href="/users/login"><b>Log in</b></a>
          <% } %>
            <% if(currUser) { %>
              <a class="nav-link" href="/users/logout"><b>Log out</b></a>
              <% } %>
      </div>

    </div>
</nav>


<div class="pos-f-t navbar2">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/listings/search" method="get">
          <input class="form-control me-2 " type="search" name="location" placeholder="Search Destinations">
          <button class="btn  search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add PG/Room</a>
        <% if(!currUser) { %>
          <a class="nav-link" href="/users/login"><b>Log in</b></a>
          <% } %>
            <% if(currUser) { %>
              <a class="nav-link" href="/users/logout"><b>Log out</b></a>
              <% } %>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>